<div class="main wrapper clearfix">
  <div id="video">
    <img src="assets/lede.png">
  </div>

  <div id="backing">
    <div id="reserve_container">
      <p id="ship_date"><%= Settings.ships %></p>
      <a href="#C5" class="blue_button reserve"><%= Settings.call_to_action %></a>
      <p id="price"><%= Settings.price_human %></p>
      <p><%= Settings.dont_give_them_a_reason_to_say_no %></p>
      <%= like_button %>
    </div>
    
  </div>
  
</div>